In [1]:
from dodfminer import ContentExtractor
from dodfminer import ActsExtractor
import pandas as pd
import numpy as np
import glob

In [2]:
pdf_files = glob.glob('2021/**/*.pdf')

In [3]:
for pdf in pdf_files:
        ContentExtractor.extract_text(pdf, single=True, block=False, sep='\n<END_OF_BLOCK>\n')

In [3]:
txt_files = glob.glob('2021/**/*.txt')

In [4]:
len(txt_files)

208

In [5]:
df = ActsExtractor.get_act_df('extrato_licitacao', '2021/01_Janeiro/DODF 001 04-01-2021 1.txt', 'regex')

In [5]:
COLUNAS = [
    "Tipo do Ato", 
    "Data DODF",
    "Processo GDF/SEI"
]

data = pd.DataFrame(columns=COLUNAS)

In [6]:
data

Empty DataFrame
Columns: [Tipo do Ato, Data DODF, Processo GDF/SEI]
Index: []

In [7]:
for txt in txt_files:
    df = ActsExtractor.get_act_df('extrato_licitacao', txt, 'regex')
    data = pd.concat([data, df], ignore_index=True)

In [8]:
data

               Tipo do Ato Data DODF         Processo GDF/SEI
0     Extrato de Licitação       NaN     141.00001010/2020-09
1     Extrato de Licitação       NaN     141.00001008/2020-21
2     Extrato de Licitação       NaN     141.00001011/2020-45
3     Extrato de Licitação       NaN   00040-00015724/2020-61
4     Extrato de Licitação       NaN   00040-00016182/2020-43
...                    ...       ...                      ...
1055  Extrato de Licitação       NaN                      NaN
1056  Extrato de Licitação       NaN                      NaN
1057  Extrato de Licitação       NaN   00150-00007471/2020-78
1058  Extrato de Licitação       NaN   00001-00015057/2021-18
1059  Extrato de Licitação       NaN   00092.00010694/2020-24

[1060 rows x 3 columns]

In [14]:
data.isnull().sum()

Tipo do Ato            0
Data DODF           1058
Processo GDF/SEI     373
dtype: int64

In [16]:
data2.isnull().sum()

Tipo do Ato           0
Data DODF           121
Processo GDF/SEI     97
dtype: int64

In [9]:
COLUNAS = [
    "Tipo do Ato", 
    "Data DODF",
    "Processo GDF/SEI"
]

data2 = pd.DataFrame(columns=COLUNAS)

In [10]:
for txt in txt_files:
    df2 = ActsExtractor.get_act_df('abertura_licitacao', txt, 'regex')
    data2 = pd.concat([data2, df2], ignore_index=True)

In [11]:
data2

               Tipo do Ato Data DODF         Processo GDF/SEI
0    Abertura de Licitação       NaN                      NaN
1    Abertura de Licitação       NaN                      NaN
2    Abertura de Licitação       NaN                      NaN
3    Abertura de Licitação       NaN   00063-00004536/2020-58
4    Abertura de Licitação       NaN                      NaN
..                     ...       ...                      ...
116  Abertura de Licitação       NaN   00063-00001472/2021-14
117  Abertura de Licitação       NaN                      NaN
118  Abertura de Licitação       NaN                      NaN
119  Abertura de Licitação       NaN                      NaN
120  Abertura de Licitação       NaN                      NaN

[121 rows x 3 columns]

In [ ]:
# 12 - EXTRATO(?:S)?\s+D[EO]\s+CONTRATO                                                      - 10031
# 6  - AVISO(?:S)?\s+D[EO]\s+LICITACAO                                                       - 9582
# 4  - AVISO(?:S)?\s+D[EO]\s+RESULTADO\s+D[EO]\s+JULGAMENTO|AVISO(?:S)?\s+D[EO]\s+JULGAMENTO - 3314
# 5  - AVISO(?:S)?\s+D[EO]\s+DECLARACAO\s+D[EO]\s+VENCEDOR|AVISO(?:S)?\s+D[EO]\s+RESULTADO   - 3009
# 3  - AVISO(?:S)?\s+D[EO]\s+HOMOLOGACAO\s+E\s+CONVOCACAO|AVISO(?:S)?\s+D[EO]\s+CONVOCACAO   - 1902
# 1  - AVISO(?:S)?\s+D[EO]\s+ABERTURA\s+D[EO]\s+LICITACAO                                    - 769